<header class='header'>
  <h1>Edit a user</h1>
  <h2>At this page you can edit a user name, age and bio.</h2>
</header>
<main class='main'>
<button class='button'><%= link_to 'Back', :back %></button>
<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: 'input' %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.text_field :age, class: 'input' %>
  </div>

  <div>
    <%= form.label :biograph %><br>
    <%= form.text_area :biograph, class: 'input' %>
  </div>

  <div>
   <%= form.submit class: 'button' %>
  </div>
<% end %>
</main>
