<header class='header'>
  <h1>User Page</h1>
  <h2>At this page you can find: user(s) name(s) with how many contact and phone numbers it user has.</h2>
</header>
<main class='main'>
  <% if @users.empty? %>
    <h3>There is no user on the database</h3>
  <% else %>
    <h3><%= "Number of user(s): #{User.count}" %></h3>
    <table class="users">
      <thead>
        <th>User(s)</th>
        <th>Contact(s)</th>
        <th>Phone number(s)</th>
        <th>Function</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.contacts.size %></td>
            <td><%= user.phone_numbers.size %></td>
            <td><%= link_to 'Show user info', user_path(user) %></td>
          </tr>
        <% end %>
      </tbody>
  <% end %>
    </table>
</main>
